body > div:first-child {
    width: 20vw;
    aspect-ratio: 1/1;
    border: 1vw solid grey;
    border-radius: 50%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 10;
}

body > div:first-child > div:first-child {
    width: 18vw;
    aspect-ratio: 1/1;
    border: 1vw solid red;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 10;
}

body > div:nth-child(2) {
    width: 18vw;
    aspect-ratio: 1/1;
    background-color: orange;
    border-radius: 50%;
    position: relative;
    margin: auto;
    margin-top: 100vh;
}

body > div:nth-child(3) {
    width: 18vw;
    aspect-ratio: 1/1;
    background-color: blue;
    border-radius: 50%;
    position: relative;
    margin: auto;
    margin-top: 100vh;
}

body > div:nth-child(4) {
    width: 18vw;
    aspect-ratio: 1/1;
    background-color: green;
    border-radius: 50%;
    position: relative;
    margin: auto;
    margin-top: 100vh;
    margin-bottom: 100vh;
}

body > div:nth-child(2) > div {
    position: absolute;
    height: fit-content;
    width: fit-content;
    font-size: 2vw;
    font-weight: 600;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

body > div:nth-child(3) > div {
    position: absolute;
    height: fit-content;
    width: fit-content;
    font-size: 2vw;
    font-weight: 600;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

body > div:nth-child(4) > div{
    position: absolute;
    height: fit-content;
    width: fit-content;
    font-size: 2vw;
    font-weight: 600;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}